USE [QLPV]
GO
/****** Object:  Table [dbo].[CHUYENBAY]    Script Date: 2/10/2022 4:20:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENBAY](
	[MACHUYENBAY] [nvarchar](30) NOT NULL,
	[SHMB] [nvarchar](20) NOT NULL,
	[DUONGBAY] [nvarchar](10) NOT NULL,
	[NGAYBAY] [date] NOT NULL,
	[GIOBAY] [time](7) NOT NULL,
	[TRANGTHAI] [int] NOT NULL,
 CONSTRAINT [PK_CHUYENBAY] PRIMARY KEY CLUSTERED 
(
	[MACHUYENBAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DUONGBAY]    Script Date: 2/10/2022 4:20:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DUONGBAY](
	[MADUONGBAY] [nvarchar](10) NOT NULL,
	[SANBAYDI] [nvarchar](10) NOT NULL,
	[SANBAYDEN] [nvarchar](10) NOT NULL,
	[KHOANGCACH] [int] NULL,
 CONSTRAINT [PK__DuongBay__14C2E70CE8B4C472] PRIMARY KEY CLUSTERED 
(
	[MADUONGBAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 2/10/2022 4:20:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[SDT] [nvarchar](12) NOT NULL,
	[TENDNHAP] [nvarchar](30) NOT NULL,
	[HOVATEN] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](30) NULL,
	[NGAYSINH] [date] NOT NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAYBAY]    Script Date: 2/10/2022 4:20:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAYBAY](
	[SHMB] [nvarchar](20) NOT NULL,
	[HANGBAY] [nvarchar](50) NOT NULL,
	[SOGHE] [int] NOT NULL,
 CONSTRAINT [PK_MAYBAY] PRIMARY KEY CLUSTERED 
(
	[SHMB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 2/10/2022 4:20:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[SDT] [nvarchar](12) NOT NULL,
	[TENNHANVIEN] [nvarchar](50) NOT NULL,
	[TENDNHAP] [nvarchar](30) NOT NULL,
	[LUONG] [int] NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANBAY]    Script Date: 2/10/2022 4:20:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANBAY](
	[MASANBAY] [nvarchar](10) NOT NULL,
	[TENSANBAY] [nvarchar](30) NOT NULL,
	[DIADIEM] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_SANBAY] PRIMARY KEY CLUSTERED 
(
	[MASANBAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 2/10/2022 4:20:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENDANGNHAP] [nvarchar](30) NOT NULL,
	[MATKHAU] [nvarchar](30) NOT NULL,
	[LOAITAIKHOAN] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VE]    Script Date: 2/10/2022 4:20:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VE](
	[MACB] [nvarchar](30) NOT NULL,
	[TENHANHKHACH] [nvarchar](30) NOT NULL,
	[SDT] [nvarchar](12) NOT NULL,
	[MaGhe] [nchar](10) NOT NULL,
 CONSTRAINT [PK_VE] PRIMARY KEY CLUSTERED 
(
	[MACB] ASC,
	[MaGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CHUYENBAY] ([MACHUYENBAY], [SHMB], [DUONGBAY], [NGAYBAY], [GIOBAY], [TRANGTHAI]) VALUES (N'CB1', N'MB2', N'SGNVII', CAST(N'2022-02-11' AS Date), CAST(N'20:00:00' AS Time), 0)
INSERT [dbo].[CHUYENBAY] ([MACHUYENBAY], [SHMB], [DUONGBAY], [NGAYBAY], [GIOBAY], [TRANGTHAI]) VALUES (N'CB2', N'MB6', N'SGNVII', CAST(N'2022-02-14' AS Date), CAST(N'18:00:00' AS Time), 0)
INSERT [dbo].[CHUYENBAY] ([MACHUYENBAY], [SHMB], [DUONGBAY], [NGAYBAY], [GIOBAY], [TRANGTHAI]) VALUES (N'CN2', N'MB1', N'DADVII', CAST(N'2022-02-18' AS Date), CAST(N'17:00:00' AS Time), 0)
INSERT [dbo].[DUONGBAY] ([MADUONGBAY], [SANBAYDI], [SANBAYDEN], [KHOANGCACH]) VALUES (N'CXRSGN', N'CXR', N'SGN', 500)
INSERT [dbo].[DUONGBAY] ([MADUONGBAY], [SANBAYDI], [SANBAYDEN], [KHOANGCACH]) VALUES (N'DADSGN', N'DAD', N'SGN', 800)
INSERT [dbo].[DUONGBAY] ([MADUONGBAY], [SANBAYDI], [SANBAYDEN], [KHOANGCACH]) VALUES (N'DADVII', N'DAD', N'VII', 700)
INSERT [dbo].[KHACHHANG] ([SDT], [TENDNHAP], [HOVATEN], [EMAIL], [NGAYSINH]) VALUES (N'0725356821', N'thi12', N'Mac Van Thi', N'vthi', CAST(N'1993-08-24' AS Date))
INSERT [dbo].[KHACHHANG] ([SDT], [TENDNHAP], [HOVATEN], [EMAIL], [NGAYSINH]) VALUES (N'0976262341', N'vuong12', N'Pham Nhat Vuong', N'nhatvuong', CAST(N'2022-02-14' AS Date))
INSERT [dbo].[KHACHHANG] ([SDT], [TENDNHAP], [HOVATEN], [EMAIL], [NGAYSINH]) VALUES (N'0986367212', N'antiem', N'Mai An Tiem', N'antiempro', CAST(N'2002-02-19' AS Date))
INSERT [dbo].[MAYBAY] ([SHMB], [HANGBAY], [SOGHE]) VALUES (N'MB1', N'Vietnam Airlines', 100)
INSERT [dbo].[MAYBAY] ([SHMB], [HANGBAY], [SOGHE]) VALUES (N'MB2', N'Vietnam Airlines', 240)
INSERT [dbo].[MAYBAY] ([SHMB], [HANGBAY], [SOGHE]) VALUES (N'MB3', N'BAMBOO', 50)
INSERT [dbo].[NHANVIEN] ([SDT], [TENNHANVIEN], [TENDNHAP], [LUONG]) VALUES (N'0000000000', N'Le Thi A', N'ta', 1200)
INSERT [dbo].[NHANVIEN] ([SDT], [TENNHANVIEN], [TENDNHAP], [LUONG]) VALUES (N'0912836521', N'Le Van A', N'levana', 1000)
INSERT [dbo].[SANBAY] ([MASANBAY], [TENSANBAY], [DIADIEM]) VALUES (N'CXR', N'CAM RANH', N'Khanh Hoa')
INSERT [dbo].[SANBAY] ([MASANBAY], [TENSANBAY], [DIADIEM]) VALUES (N'DAD', N'DA NANG', N'Da Nang')
INSERT [dbo].[SANBAY] ([MASANBAY], [TENSANBAY], [DIADIEM]) VALUES (N'HAN', N'NOI BAI', N'Ha Noi')
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU], [LOAITAIKHOAN]) VALUES (N'admin', N'1', N'admin')
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU], [LOAITAIKHOAN]) VALUES (N'antiem', N'12', N'guest')
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU], [LOAITAIKHOAN]) VALUES (N'levana', N'0912836521', N'staff')
ALTER TABLE [dbo].[CHUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENBAY_DuongBay] FOREIGN KEY([DUONGBAY])
REFERENCES [dbo].[DUONGBAY] ([MADUONGBAY])
GO
ALTER TABLE [dbo].[CHUYENBAY] CHECK CONSTRAINT [FK_CHUYENBAY_DuongBay]
GO
ALTER TABLE [dbo].[CHUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENBAY_MAYBAY] FOREIGN KEY([SHMB])
REFERENCES [dbo].[MAYBAY] ([SHMB])
GO
ALTER TABLE [dbo].[CHUYENBAY] CHECK CONSTRAINT [FK_CHUYENBAY_MAYBAY]
GO
ALTER TABLE [dbo].[DUONGBAY]  WITH CHECK ADD  CONSTRAINT [FK_DuongBay_SANBAY] FOREIGN KEY([SANBAYDI])
REFERENCES [dbo].[SANBAY] ([MASANBAY])
GO
ALTER TABLE [dbo].[DUONGBAY] CHECK CONSTRAINT [FK_DuongBay_SANBAY]
GO
ALTER TABLE [dbo].[DUONGBAY]  WITH CHECK ADD  CONSTRAINT [FK_DuongBay_SANBAY1] FOREIGN KEY([SANBAYDEN])
REFERENCES [dbo].[SANBAY] ([MASANBAY])
GO
ALTER TABLE [dbo].[DUONGBAY] CHECK CONSTRAINT [FK_DuongBay_SANBAY1]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_TAIKHOAN] FOREIGN KEY([TENDNHAP])
REFERENCES [dbo].[TAIKHOAN] ([TENDANGNHAP])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_TAIKHOAN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_TAIKHOAN] FOREIGN KEY([TENDNHAP])
REFERENCES [dbo].[TAIKHOAN] ([TENDANGNHAP])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_VE_CHUYENBAY] FOREIGN KEY([MACB])
REFERENCES [dbo].[CHUYENBAY] ([MACHUYENBAY])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_VE_CHUYENBAY]
GO
USE [master]
GO
